.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box;
    padding: 0 10px;

    width: 100%;
    height: 52px;
}

.navDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}