.map{
    position: relative;
}

.myLocationBtn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}